<%- include('../partials/header'); %>

    <main class="main main-home container text-center">
        <h2 class="home-header">
            with the largest tap around, let's find you a beer!
        </h2>
        <img src="/media/Bar.png" alt="Picture Of A Bar" class="img-fluid bar-image">
    </main>

<%- include('../partials/footer'); %>